#container-cv {
    width: 90%;
    margin: 80px auto 50px;
}

#cv-presentation {
    display: flex;
    width: 100%;
    align-items: center;
}

#cv-photo {
    padding: 1rem;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 40%;
    margin-right: 10%;
}

#cv-desc {
    padding: 1rem;
    width: 50%;
    flex-wrap: wrap;
}

#cv-parcours {
    margin: 5rem 0;
    display: flex;
    min-width: 350px;
}

#cv-experience, #cv-formation {
    flex-basis: 50%;
    min-width: 350px;
}

.cercle-img {
    border-radius: 100%;
    max-width: 100%;
    max-height: 500px;
}

.download {
    margin: .5rem;
    padding: 1rem;
    text-align: center;
    border: #1a398b solid 3px;
    width: 100%;
    cursor: pointer;
}

.download a {
    text-decoration: none;
    color: inherit;
}

#detail-competence {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

#langages, #frameworks, #bdd {
    margin: 50px;
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    flex-basis: 20%;
    min-width: 350px;
}

.container-formation {
    padding: .5rem;
}

.detail {
    max-height: 0px;
    overflow: hidden;
    transition: max-height linear 1.25s
}

.detail-experience {
    list-style: none;
    padding-left: 1rem;
}

.color-bleu {
    color: #1a398b
}

.container-progressbar {
    width: 70%;
}

.container-detail {
    display: flex;
    justify-content: center;
    margin-bottom: .5rem;
}

.name-skill {
    min-width: 100px;
    width: 20%;
    margin-right: .5rem;
}

.show-detail {
    display: inline;
    text-decoration: underline #1a398b;
}

#container-btn-cv {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5rem
}