.fas {
    margin: 0 .5rem;
}

#main {
    display: flex;
    background-color: #eee;
}

#backImage {
    width: 100%;
    position: fixed;
    z-index: -1;
    background-image: url('../img/header.jpg');
    background-position: center;
    background-size: cover;
}