.fas {
    margin: 0 .5rem;
}

#competence {
    display: flex;
    background-color: #eee;
}

#cv {
    display: flex;
    background-color: #fff;
}

.categorie-title {
    text-align: center;
    color: #1a398b;
    font-size: xx-large;
    font-weight: bold;
}

#backImage {
    width: 100%;
    position: fixed;
    z-index: -1;
    background-image: url('../img/header.jpg');
    background-position: center;
    background-size: cover;
}

.link-navbar {
    text-decoration: inherit;
    color: inherit;
}

.link-navbar:visited {
    color: inherit;
}
h1, h2, h3 {
    width: 100%;
    text-align: center;
}