#Navbar {
    width: 100%;
    position: fixed;
    padding: 3rem 0;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9;
    transition: padding 1s;
}

.link-navbar {
    display: flex;
}

.Navbar-items {
    text-align: center;
    cursor: pointer;
    margin: 1rem 1.5rem;
    color: #fff;
    font-weight: normal;
    text-shadow: 1px 1px 1px #1a398b;
}

.Navbar-items i, .Navbar-items span {
    -webkit-transition: font-size .5s ease;
    -moz-transition: font-size .5s ease;
    -o-transition: font-size .5s ease;
    transition: color .5s, font-size .5s ease;
}

.Navbar-items :hover {
    color: #4073ff;
    font-size: 1.25rem;
}

#logoTop {
    cursor: pointer;
}

#NavbarMobile {
    border-bottom: 1px solid #ccc;
    color: #1a398b;
    width: 100%;
    height: 50px;
    background-color: #fff;
    position: fixed;
    z-index: 1;
    display: none;
    align-items: center;
    justify-content: flex-start;
}

#menuMobile {
    max-height: 0%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    position: fixed;
    background-color: #fff;
    top: 50px;
    z-index: 1;
    transition: max-height 1s;
}