#Navbar {
    width: 100%;
    position: fixed;
    padding: 3rem 0;
    height: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 9;
    transition: padding 1s;
}

.Navbar-items {
    text-align: center;
    cursor: pointer;
    margin: 1rem 1.5rem;
    color: #fff;
    font-weight: normal;
    text-shadow: 1px 1px 1px #1a398b;
}

.Navbar-items i, .Navbar-items span {
    -webkit-transition: font-size .5s ease;
    -moz-transition: font-size .5s ease;
    -o-transition: font-size .5s ease;
    transition: color .5s, font-size .5s ease;
}

.Navbar-items :hover {
    color: #1a398b;
    font-size: 1.25rem;
}