@media (max-width: 1000px) {
    #detail-competence, #all-project {
        justify-content: center;
    }
    #all-contact {
        justify-content: center;
        width: 90%;
    }
}

@media (max-width: 900px) {
    #container-btn-cv {
        flex-wrap: wrap;
    }
}

@media (max-width: 750px) {
    .contact-info {
        margin: 1.5rem;
    }
    #all-contact {
        justify-content: flex-start;
        width: 83%;
    }
    #cv-parcours {
        flex-wrap: wrap;
        justify-content: center;
    }
    #cv-experience {
        margin-top: 5rem;
    }
    #cv-experience, #cv-formation {
        flex-basis: 80%;
    }
    #cv-presentation {
        flex-wrap: wrap;
        justify-content: center;
    }
    #cv-photo, #cv-desc {
        width: 80%;
        margin: 0;
    }
}

@media (max-width: 749px) {
    #all-contact {
        width: 50%;
        justify-content: center;
    }
    #maj {
        top: 15%
    }
    #maj .container {
        flex-wrap: wrap;
    }
    .competence-desc {
        width: 100%;
    }
    .competence-liste-gauche, .competence-liste-droite {
        text-align: center;
    }
}